#projects-header {
  margin-bottom: 5%;
  font-size: 6rem;
  padding-bottom: 5%;
  border-bottom: solid 4px;
}
#projects-list {
  margin-bottom: 0;
  justify-content: center;
  font-size: 2rem;
}
#projects-list__item {

}