.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  border-bottom: solid black;
  text-align: center;
  width: 100%;
  h2 {
    font-family: 'Marcellus', serif;
    font-size: 100px;
    margin-bottom: $s-size;
  }
  p {
    font-size: 60px;
    font-family: 'Crimson Text', serif;
  }
}
