html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
* {
    margin: 0;
    padding: 0;
  }

body {
  background: $cream;
  color: $off-black;
  font-size: $m-size;
  p {
    font-family: 'Crimson Text', serif;
  }
  h2 {
    font-family: 'Marcellus', serif;
  }
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}