
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  background: rgb(255,239,239);
  color: black;
  font-size: $m-size;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
.container {
  margin-top: 5rem;
  margin-left: 22%;
  margin-right: 22%;
  display: flex;
  flex: auto;
  justify-content: center;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.content__top {
  height: 100vh;
  border-bottom: solid black;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 0;
  h2 {
    font-size: 100px;
  }
  p {
    font-size: 50px;
    font-weight: 100;
  }
}
.frame-top {
  border-bottom: solid 4px;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  padding: 2rem;
  background-color: rgba(255,239,239,0.9);
}
.frame-bottom {
  border-top: solid 4px;
  position: fixed;
  left: 2rem;
  right: 2rem;
  bottom: 0;
  padding: 2rem;
  background-color: rgba(255,239,239,0.9);
}
.frame-left {
  border-right: solid 4px;
  position: fixed;
  padding-left: 2rem;
  bottom: 4rem;
  top: 4rem;
  left: 2rem;
  background-color: rgba(255,239,239,1);
}
.frame-right {
  border-left: solid 4px;
  position: fixed;
  padding-right: 2rem;
  bottom: 4rem;
  top: 4rem;
  right: 2rem;
  background-color: rgba(255,239,239,1);
}
